<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reset your password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4 well"><h2 class="text-center">Reset your password</h2>
			<form action="/password" method="post">
          <%if (error.length > 0) { %>
            <div class="alert alert-danger">
            <strong>Error!</strong> <%=error%>
          </div>
			<% } %>
			<div class="form-group">
				<label for="Username">Username:</label>
				<input type="text" class="form-control" placeholder="Enter Username" name="username" required>
			  </div>
			<div class="form-group">
				<label for="oldpass">Old password:</label>
				<input type="password" class="form-control"  placeholder="Enter old password" name="oldpass" required>
			  </div>
			  <div class="form-group">
				<label for="pswn">New password:</label>
				<input type="password" class="form-control" placeholder="Enter new password" name="newpass" required>
			  </div>
			  <div class="form-group">
				<label for="pswwn">Re-enter New password:</label>
				<input type="password" class="form-control" placeholder="Enter new password" name="newpasss" required>
			  </div>
			  <div class="text-center"><button type="submit" class="btn btn-success">Submit</button></div>
			</form></div>
		<div class="col-sm-4"></div>
	</div>
  
</div>

</body>
</html>
